# Django
Django==4.2.19
djangorestframework==3.15.2
drf-nested-routers==0.94.1
drf-spectacular==0.28.0
psycopg2-binary==2.9.10
django-unfold==0.49.1  # Django Admin Theme

# celery
celery==5.4.0
redis==5.2.1

# excel
pandas==2.2.3
openpyxl==3.1.5

python-dotenv==1.0.1

# Formatter
black==25.1.0
